header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-input {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.8rem;
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
}

.movies {
  list-style: none;
  margin: 0;
  padding: 0;

  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
}

.movie {
  text-align: center;
  img {
    border-radius: 0.25rem;
  }
}
